{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campeonatos</title>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
</head>
<body>
    <div class="seriee">
       <a href="cadastro"><img src="static/img/serieA.png" width="120" height="120"></a> 
       <a href="cadastro"><img src="static/img/serieB.png" width="110" height="110"></a>
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>